{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Winday{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="stylesheet" href="{% static 'index.js' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> <!-- Lupa simbolo -->>
    </head>
    <body>  
        <nav class="upper-bar">
            <ul class="nav-links">
                <li class="link">
                    <a href="#">Winday</a>
                </li>
                <li>
                    <div class="search-container">
                        <input type="text" class="search-input" placeholder="Buscar...">
                        <div class="search-icon">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>                    
                </li>
                <li class="log-div link"> <!-- Cambié aquí a log-div -->
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'winday:logout' %}">Logout</a>
                    {% else %}
                        <a href="{% url 'winday:login' %}">Login</a>
                        <a href="{% url 'winday:register' %}">Register</a>
                    {% endif %}
                </li>
            </ul>
        </nav>

        {% block body %}{% endblock %}
        {% block script %}{% endblock %}
    </body>
</html>