:root{
    --azul-oscuro:#18181B;
    --blanco: #fff;
    --azul-claro: #1d4ed8;
    --gris: #A9A9A9; 
    --semi-transparente: rgba(24, 24, 27, 0.8);
    --box-shadow: rgba(0, 0, 0, 0.2);
}

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url('/static/winday/images/windsurf-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* Asegura que el body tenga al menos el tamaño completo de la pantalla */
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Hace que el contenido de la página se expanda antes del footer */
.container {
    flex: 1;
}


.nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 1rem 0.75rem; /* Aumenta el padding para darle más espacio */
    background-color: var(--semi-transparente); /* Color con opacidad */
    min-height: 80px; /* Establece una altura mínima */
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    color: var(--blanco);
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 1rem;
    background-color: var(--azul-claro);
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 70%;
}

.log-div {
    display: flex; /* Permite alinear los elementos en línea */
    justify-content: flex-end; /* Alinea los enlaces a la derecha */
    padding-right: 1rem;
    gap: 3rem; /* Espacio entre los elementos */
    width: 100%; /* Ocupa el ancho completo */
    position: relative; /* Mantiene el contexto de posicionamiento si es necesario */
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    width: 50px;  /* Ajusta el tamaño del círculo */
    height: 50px;
    border-radius: 50%;  /* Hace la imagen circular */
    object-fit: cover;  /* Asegura que la imagen se recorte correctamente */
}

/* Contenedor principal */
.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

/* Campo de texto del buscador (inicialmente oculto) */
.search-input {
    width: 0;
    height: 30px;
    padding: 0;
    font-size: 14px;
    border: none;
    background-color: var(--azul-oscuro);
    color: var(--blanco);
    outline: none;
    transition: width 0.4s ease;
    border-bottom: 2px solid var(--azul-claro);
    opacity: 0;
    pointer-events: none; /* Evita que se pueda escribir hasta que esté visible */
}

/* Icono de la lupa */
.search-icon {
    cursor: pointer;
    font-size: 20px;
    color: var(--blanco);
    background-color: var(--azul-oscuro);
    padding: 8px;
    border-radius: 50%;
}

/* Estilo al hacer hover en el contenedor o cuando el input tiene foco */
.search-container:hover .search-input,
.search-input:focus {
    width: 150px; /* Expande el input */
    padding: 5px;
    opacity: 1;
    pointer-events: auto; /* Permite escribir cuando esté visible */
}

/* Cambiar el estilo del icono al estar visible el input */
.search-container:hover .search-icon,
.search-input:focus + .search-icon {
    background-color: transparent;
}

.login-container {
    background-color: var(--semi-transparente); /* Fondo semiopaco, manteniendo el diseño */
    padding: 2rem; /* Espaciado para el formulario */
    max-width: 500px; /* Ancho máximo del formulario */
    margin: 2rem auto; /* Centrar horizontalmente */
    border-radius: 10px; /* Bordes redondeados */
    color: var(--blanco); /* Texto en blanco */
}

.principal-title {
    font-size: 2rem;
    color: var(--blanco); /* Mantenemos el color blanco para el texto */
    text-align: center; /* Centrar el título */
    margin-bottom: 1.5rem;
    background-color: var(--azul-oscuro);
    border-radius: 10px; /* Bordes redondeados */
    padding: 15px;
    box-shadow: 0 4px 8px var(--box-shadow); /* Sombra para darle un efecto elevado */
    max-width: 800px; /* Ancho máximo */
    margin: 0 auto 1.5rem auto; /* Centrar horizontalmente */
}

.form-group {
    margin-bottom: 1.5rem; /* Espacio entre los inputs */
}

.form-control {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    background-color: var(--blanco); /* Misma paleta de colores */
    border: 2px solid var(--azul-claro); /* Borde claro */
    border-radius: 5px; /* Bordes redondeados */
    color: var(--azul-oscuro);
}

.submit-button {
    width: 100%;
    padding: 0.75rem;
    font-size: 1.2rem;
    background-color: var(--azul-claro);
    color: var(--blanco);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: var(--blanco);
    color: var(--azul-oscuro);
}

.register-link {
    text-align: center;
    margin-top: 1.5rem;
    color: var(--blanco);
}

.register-link .link {
    position: relative;
    color: var(--gris); /* Color principal */
    padding-bottom: 0.75rem; /* Asegura espacio para la línea */
    padding: 0.75rem;
}

.register-link .link::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0.75rem;
    background-color: var(--blanco); /* Color de la línea */
    transition: width 0.3s ease; /* Animación de la línea */
}

.register-link .link:hover::after {
    width: 70%; /* Expande la línea en hover */
}

.copyright {
    background-color: var(--semi-transparente);
    color: var(--blanco);
    text-align: center;
    padding: 1rem;
    font-size: 0.875rem;
    width: 100%;
    position: bottom;
}

.user{
    color: var(--blanco);
    text-transform: uppercase;
}

/* Estilo para la lista de perfiles */
.profile-list {
    list-style-type: none; /* Eliminar puntos de lista */
    padding: 0; /* Eliminar padding */
    margin: 20px 0; /* Espaciado vertical */
}

.register-link .profile-link{
    color: var(--gris);
}

.empty-list {
    text-align: center; /* Centrar texto */
    color: var(--gris); /* Color del texto */
    font-style: italic; /* Estilo de texto en cursiva */
}

.follow-button {
    padding: 0.5rem 1rem;  /* Tamaño más pequeño */
    font-size: 0.875rem;  /* Fuente más pequeña */
    background-color: var(--azul-claro);
    color: var(--blanco);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: 2px solid transparent;
}

.follow-button:hover {
    background-color: var(--blanco);
    color: var(--azul-oscuro);
    border: 2px solid var(--azul-claro);
}

.follow-div{
    text-align: center;
    padding-top: 2rem;
}

/* Estilos generales para centrar el contenido */
.wind-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh; /* Centrado vertical */
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    color: var(--blanco); /* Texto en blanco */
}

.wind-data-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--azul-oscuro);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px var(--box-shadow);
    max-width: 400px;
    width: 100%;
}

/* Estilo para el icono de viento */
.wind-icon {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--azul-claro); /* Color del icono de viento */
}

/* Detalles del viento */
.wind-details {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.wind-speed, .wind-direction {
    margin: 0.5rem 0;
}

/* Mensajes condicionales de windsurf */
.windsurf-status {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.windsurf-status.positive {
    color: var(--blanco);
    background-color: var(--azul-claro);
    padding: 0.5rem;
    border-radius: 5px;
}

.windsurf-status.negative {
    color: var(--blanco);
    background-color: var(--gris);
    padding: 0.5rem;
    border-radius: 5px;
}

/* Estilos para los mensajes de error */
.error-message {
    color: var(--gris);
    font-size: 1.2rem;
}